node_modules
GameService/GameService/data/evaluator_data/TwoPlusTwo/HandRanks.dat
*.dat
Backend API/Services/Game Service/GameService/data/db/**
Backend API/Services/ccounts Service/data/db/**
Backend API/Services//Accounts Service/logfile
Backend API/Services/Feedback Service/data/db/**
Backend API/Services/Feedback Service/logfile
Backend API/Services/Accounts Service/data/db/
Backend API/Services/Game Service/database/data/
*.DS_Store
*.DS_Store?
